@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito2:wght@500&display=swap');

/* .titulo{
    font-family: montserr;
} */

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    background-color: #D7FCE4;
}

.botoes{
  margin-top: 25px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.botaoVoltar{
  margin-left: 3.125rem;
  width: 3.75rem;
  height: 3.75rem;
  transform: rotate(270deg);
}

.botaoVoltar svg{
  width: 100%;
  height: 100%;
}

.botaoCancelar{
  margin-right: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
}

.titulo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.parent {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .icone1
    {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: 1 / 1 / 6 / 3; 
    border-bottom: 1px solid rgb(73, 73, 73);
        
    }

    .iconeMala svg
    {
        
        width: 100%;
        height: 100%;
    }

    .iconeMala
    {
    width: 40px;
    height: 40px;
    
    }

    .profissional
    { 
    display: flex;
    flex-direction: column;
    grid-area: 1 / 3 / 6 / 11; 
    border-bottom: 1px solid rgb(73, 73, 73);
    
    }
    .descricaoProfissional{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 50px;
        width: 50%;
        height: 33.33%;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
    }
    .nomeProfissional{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 33.33%;
        font-family: 'Nunito2', sans-serif;
        font-size: 18px;
    }
    .cargoProfissional{
        margin-top: 7.5px;
        display: flex;
        justify-content: start;
        align-items: end;
        margin-left: 50px;
        width: 50%;
        height: 33.3%;
        font-family: 'Nunito2', sans-serif;
        font-size: 18px;
    }
    





    .icone2 
    { 
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: 6 / 1 / 11 / 3; 
    border-bottom: 1px solid rgb(73, 73, 73);
    }

    .iconeCalendario svg
    {
        width: 100%;
        height: 100%;
    }

    .iconeCalendario
    {
    width: 40px;
    height: 40px;
    }

    .data
    { 
    display: flex;
    flex-direction: column;
    grid-area: 6 / 3 / 11 / 11; 
    border-bottom: 1px solid rgb(73, 73, 73);
    }
    .descricaoData
    {
  
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 50%;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;

    }

    
    .selecaoData
    {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 50%;
        font-family: 'Nunito2', sans-serif;
        font-size: 18px;
    }






    .icone3
    { 
        
        display: flex;
    justify-content: end;
    align-items: center;
    grid-area: 11 / 1 / 16 / 3; 
    border-bottom: 1px solid rgb(73, 73, 73);
    }

    .iconeAlfinete svg
    {
        width: 100%;
        height: 100%;
    }

    .iconeAlfinete
    {
    width: 40px;
    height: 40px;

    }

    .localizacao
    { 
    
    display: flex;
    flex-direction: column;
    grid-area: 11 / 3 / 16 / 11; 
    border-bottom: 1px solid rgb(73, 73, 73);

    }
    .descricaoLocalizacao
    {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 50%;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
    }

    .descricaoLocalizacao p{
        margin-bottom: 5x;
    }
    .selecaoLocalizacao
    {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 50%;
        font-family: 'Nunito2', sans-serif;
        font-size: 18px;
    }



    .icone4
    {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: 16 / 1 / 21 / 3;
    border-bottom: 1px solid rgb(73, 73, 73);
    }

    .iconeCifrao
    {
    width: 40px;
    height: 40px;
    }

    .iconeCifrao svg
    {
        width: 100%;
        height: 100%;
    }

    .valor
    { 
    display: flex;
    flex-direction: column;
    grid-area: 16 / 3 / 21 / 11; 
    border-bottom: 1px solid rgb(73, 73, 73);
    }
    .descricaoValor
    {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 50%;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
    }
    .selecaoValor
    {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 50px;
        width: 50%;
        height: 50%;
        font-family: 'Nunito2', sans-serif;
        font-size: 18px;
    }

.botaoAvancar{

    position: fixed;
    top: 85vh;
    right: 1.5vh;
  margin-right: 3.125rem;
    width: 5rem;
    height: 5rem;
    transform: rotate(90deg);
}

.containerPagamento{
    margin-top: 89px;
    height: 100px;
    width: 100%;
}

.formaPagamento {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left:325px;
    font-family: 'Nunito2', sans-serif;
    font-size: 18px;
}

.radio-option input[type="radio"],
.radio-option2 input[type="radio"],
.radio-option3 input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.35); 
}



